<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Amazon Keyword Analyzer{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    {{ importmap('app') }}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<header>
    <nav class="container">
        <ul>
            <li><strong>Adlance - Kickstart Your Amazon Ads</strong></li>
        </ul>
    </nav>
</header>

<main class="container">
    {% block body %}{% endblock %}
</main>
</body>
</html>
